.menu {
    margin: 1rem;
    padding: 4px;
  }  

.dot {
    height: 1rem;
    width: 1rem;
    margin-bottom: 4px;
    background-color: #424242;
    border-radius: 50%;
  }

  div.menu:hover .dot{
    background-color: rgba(68, 240, 76, 0.4);
    cursor: pointer;
  }
  div.menu:last-child .dot {
    margin-bottom: 0;
  }

.square {
    height: 1rem;
    width: 1rem;
    margin-bottom: 4px;
    background-color: #424242;
  }

  div.menu:hover .square{
    background-color: rgba(68, 240, 76, 0.4);
    cursor: pointer;
  }
  div.menu:last-child .square {
    margin-bottom: 0;
  }

.rect {
    height: 0.5rem;
    width: 2.5rem;
    margin-bottom: 4px;
    background-color: #424242;
  }

  div.menu:hover .rect{
    background-color: rgba(68, 240, 76, 0.4);
    cursor: pointer;
  }
  div.menu:last-child .rect {
    margin-bottom: 0;
  }

  